/*
		Project:		CONFIG
		Module:			CONFIG.RC
		Description:	The dialog definitions
		Author:			Martin Gäckler
		Address:		Hofmannsthalweg 14, A-4030 Linz
		Web:			https://www.gaeckler.at/

		Copyright:		(c) 1988-2026 Martin Gäckler

		This program is free software: you can redistribute it and/or modify  
		it under the terms of the GNU General Public License as published by  
		the Free Software Foundation, version 3.

		You should have received a copy of the GNU General Public License 
		along with this program. If not, see <http://www.gnu.org/licenses/>.

		THIS SOFTWARE IS PROVIDED BY Martin Gäckler, Linz, Austria ``AS IS''
		AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED
		TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
		PARTICULAR PURPOSE ARE DISCLAIMED.  IN NO EVENT SHALL THE AUTHOR OR
		CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
		SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT
		LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF
		USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND
		ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
		OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT
		OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
		SUCH DAMAGE.
*/

/* --------------------------------------------------------------------- */
/* ----- includes ------------------------------------------------------ */
/* --------------------------------------------------------------------- */

#include <windows.h>

#include "config.h"

/* --------------------------------------------------------------------- */
/* ----- icons --------------------------------------------------------- */
/* --------------------------------------------------------------------- */

CONFIG_ICON ICON "config.ico"

/* --------------------------------------------------------------------- */
/* ----- dialogs ------------------------------------------------------- */
/* --------------------------------------------------------------------- */

CONFIG_DIALOG DIALOG 100, 101, 483, 331
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Private Configuration"
FONT 8, "MS Sans Serif"
{
 CONTROL "Parse DOS-Autoexec.bat", IDC_PARSE_AUTO, "button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 4, 104, 12
 CONTROL "Wait for NT Autoexec.bat", IDC_WAIT_AUTO, "button", BS_AUTOCHECKBOX | BS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 17, 100, 12
 CONTROL "Explorer Wiederherstellen", IDC_PERSIST_BROWSER, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 4, 96, 13
 CONTROL "Frame1", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 4, 34, 396, 1
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED, 408, 5, 60, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 408, 24, 60, 14
 CONTROL "Global...", GLOBAL_CONFIG, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 408, 45, 60, 14
 CONTROL "Win Auto Run...", AUTORUN_DIALOG, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 408, 64, 60, 14
 CONTROL "NT Auto Load...", NT_AUTO_LOAD, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 408, 84, 60, 14
 CONTROL "NT Auto Run...", NT_AUTO_RUN, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 408, 100, 60, 14
 CONTROL "Explorer Reset", IDC_EXPLORER_RESET, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 408, 116, 60, 14
 CONTROL "Extensions", ASSOCIATION_DIALOG, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 408, 132, 60, 14
 CONTROL "Desktop:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 42, 36, 8
 CONTROL "", IDC_DESKTOP, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 40, 288, 12
 CONTROL "Browse...", IDC_DESK_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 352, 40, 50, 12
 CONTROL "Favorites:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 57, 36, 8
 CONTROL "", IDC_FAVORITES, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 55, 288, 12
 CONTROL "Browse...", IDC_FAV_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 352, 55, 50, 12
 CONTROL "Start Menu:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 72, 40, 8
 CONTROL "", IDC_START_MENU, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 70, 288, 12
 CONTROL "Browse...", IDC_START_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 352, 70, 50, 12
 CONTROL "Programs Menu:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 87, 52, 8
 CONTROL "", IDC_PROGRAM_MENU, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 85, 288, 12
 CONTROL "Browse...", IDC_PRG_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 352, 85, 50, 12
 CONTROL "Autostart:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 102, 36, 8
 CONTROL "", IDC_AUTO_START, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 100, 288, 12
 CONTROL "Browse...", IDC_AUTO_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 352, 100, 50, 12
 CONTROL "Admin Menu:", IDC_STATICTEXT2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 117, 52, 8
 CONTROL "", IDC_ADMIN_MENU, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 115, 288, 12
 CONTROL "Browse...", IDC_ADMIN_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 352, 115, 50, 12
 CONTROL "Recent Menu:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 132, 52, 8
 CONTROL "", IDC_RECENT, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 130, 288, 12
 CONTROL "Browse...", IDC_RECENT_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 352, 130, 50, 12
 CONTROL "Send to Menu:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 147, 52, 8
 CONTROL "", IDC_SEND_TO, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 145, 288, 12
 CONTROL "Browse...", IDC_SEND_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 352, 145, 50, 12
 CONTROL "Documents:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 162, 52, 8
 CONTROL "", IDC_DOCUMENTS, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 160, 288, 12
 CONTROL "Browse...", IDC_DOC_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 352, 160, 50, 12
 CONTROL "Pictures:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 177, 52, 8
 CONTROL "", IDC_PICTURES, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 175, 288, 12
 CONTROL "Browse...", IDC_PICTURES_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 352, 175, 50, 12
 CONTROL "Videos:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 192, 52, 8
 CONTROL "", IDC_VIDEOS, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 190, 288, 12
 CONTROL "Browse...", IDC_VIDEOS_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 352, 190, 50, 12
 CONTROL "Music:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 207, 52, 8
 CONTROL "", IDC_MUSIC, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 205, 288, 12
 CONTROL "Browse...", IDC_MUSIC_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 352, 205, 50, 12
 CONTROL "Templates:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 222, 52, 8
 CONTROL "", IDC_TEMPLATES, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 220, 288, 12
 CONTROL "Browse...", IDC_TMPL_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 352, 220, 50, 12
 CONTROL "App. Files:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 237, 52, 8
 CONTROL "", IDC_APP_FILES, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 235, 288, 12
 CONTROL "Browse...", IDC_APP_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 352, 235, 50, 12
 CONTROL "Local Settings:", IDC_STATICTEXT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 252, 52, 8
 CONTROL "", IDC_LOCAL_SETTINGS, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 250, 288, 12
 CONTROL "Browse...", IDC_LOCSET_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 352, 250, 50, 12
 CONTROL "Loc. App. Files:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 267, 52, 8
 CONTROL "", IDC_LAPP_FILES, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 265, 288, 12
 CONTROL "Browse...", IDC_LAPP_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 352, 265, 50, 12
 CONTROL "IE Cache:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 282, 44, 10
 CONTROL "", IDC_IE_CACHE, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 280, 288, 12
 CONTROL "Browse...", IDC_IE_CACHE_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 352, 280, 50, 12
 CONTROL "IE Cookies:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 297, 60, 8
 CONTROL "", IDC_IE_COOKIES, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 295, 288, 12
 CONTROL "Browse...", IDC_IE_COOKIES_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 352, 295, 50, 12
 CONTROL "IE History:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 312, 44, 8
 CONTROL "", IDC_IE_HISTORY, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 310, 288, 12
 CONTROL "Browse...", IDC_IE_HISTORY_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 352, 310, 50, 12
}

GLOBAL_CONFIG DIALOG 0, 0, 389, 286
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Global Configuration"
FONT 8, "MS Sans Serif"
{
 CONTROL "Logon Wallpaper:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 9, 60, 8
 CONTROL "", IDE_WALLPAPER, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 84, 9, 176, 12
 CONTROL "Browse...", IDPB_BROWSE_WALL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 264, 9, 50, 14
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED, 328, 9, 50, 14
 CONTROL "Tile Wallpaper", IDC_TILE_WALL, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 26, 60, 12
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 328, 26, 50, 14
 CONTROL "Logon Screensaver:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 47, 68, 8
 CONTROL "", IDE_SCREEN_SAVER, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 84, 47, 176, 12
 CONTROL "Browse...", IDPB_BROWSE_SAVER, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 264, 47, 50, 14
 CONTROL "Extensions", ASSOCIATION_DIALOG, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 328, 48, 50, 14
 CONTROL "Screensaver Timeout:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 65, 72, 8
 CONTROL "5", IDE_SAVER_TIMEOUT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 92, 65, 20, 12
 CONTROL "5", -1, "msctls_updown32", 51 | WS_CHILD | WS_VISIBLE, 112, 65, 12, 13
 CONTROL "Auto Run...", AUTORUN_DIALOG, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 328, 64, 50, 14
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 4, 82, 380, 1
 CONTROL "Debugger:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 88, 40, 8
 CONTROL "", IDC_DEBUG_COMBO, "combobox", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 64, 88, 120, 108
 CONTROL "Ask before debugging", IDC_ASK_CHECK, "button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 188, 88, 100, 12
 CONTROL "", -1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 4, 105, 380, 1
 CONTROL "Desktop:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 124, 36, 8
 CONTROL "", IDC_DESKTOP, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 120, 260, 12
 CONTROL "Browse...", IDC_DESK_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 330, 120, 50, 12
 CONTROL "Favorites", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 138, 36, 8
 CONTROL "", IDC_FAVORITES, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 136, 260, 12
 CONTROL "Browse...", IDC_FAV_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 330, 136, 50, 12
 CONTROL "Start Menu:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 154, 40, 8
 CONTROL "", IDC_COMMON_START, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 152, 260, 12
 CONTROL "Browse...", IDC_COM_START_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 330, 152, 50, 12
 CONTROL "Programs Menu:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 170, 52, 8
 CONTROL "", IDC_COMMON_PROG, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 168, 260, 12
 CONTROL "Browse...", IDC_COM_PROG_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 330, 168, 50, 12
 CONTROL "Autostart:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 186, 36, 8
 CONTROL "", IDC_COMMON_AUTO, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 184, 260, 12
 CONTROL "Browse...", IDC_COM_AUTO_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 330, 184, 50, 12
 CONTROL "Admin Menu:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 202, 52, 8
 CONTROL "", IDC_ADMIN_MENU, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 200, 260, 12
 CONTROL "Browse...", IDC_ADMIN_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 330, 200, 50, 12
 CONTROL "Documents:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 218, 36, 8
 CONTROL "", IDC_DOCUMENTS, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 216, 260, 12
 CONTROL "Browse...", IDC_DOC_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 330, 216, 50, 12
 CONTROL "Templates:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 236, 52, 8
 CONTROL "", IDC_TEMPLATES, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 232, 260, 12
 CONTROL "Browse...", IDC_TMPL_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 330, 232, 50, 12
 CONTROL "App Files:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 252, 36, 8
 CONTROL "", IDC_APP_FILES, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 248, 260, 12
 CONTROL "Browse...", IDC_APP_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 330, 248, 50, 12
 CONTROL "Download Path:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 267, 56, 8
 CONTROL "", IDC_DOWNLOAD, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 264, 260, 12
 CONTROL "Browse...", IDC_DOWNLOAD_BROWSE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 330, 264, 50, 12
}

ASSOCIATION_DIALOG DIALOG 0, 0, 231, 276
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Assotiations"
FONT 8, "MS Sans Serif"
{
 CONTROL "File types:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 4, 36, 8
 CONTROL "", IDL_FILETYPES, "listbox", LBS_STANDARD | LBS_MULTIPLESEL | WS_CHILD | WS_VISIBLE | WS_HSCROLL | WS_TABSTOP, 4, 17, 220, 194
 CONTROL "Open with:", IDS_OPEN_WITH, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 207, 212, 17
 CONTROL "Printable", IDS_PRINT_WITH, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 228, 216, 17
 CONTROL "Edit...", FILETYPE_DIALOG, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 8, 254, 50, 14
 CONTROL "Create...", IDPB_CREATE_TYPE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 254, 50, 14
 CONTROL "Close", IDCANCEL, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 254, 50, 14
 CONTROL "Save...", IDC_BUTTON1, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 112, 254, 50, 14
}



/* --------------------------------------------------------------------- */
/* ----- string tables ------------------------------------------------- */
/* --------------------------------------------------------------------- */

STRINGTABLE 
{
 PROGRAM_TITLE, "Select executable file"
 PROGRAM_FILTER, "Executable file|*.exe|"
 BITMAP_TITLE, "Select bitmap for wallpaper"
 BITMAP_FILTER, "Windows Bitmaps (*.bmp;*.jpg)|*.bmp;*.jpg|"
 SAVER_TITLE, "Select Screen Saver"
 SAVER_FILTER, "Screen Saver|*.scr|"
}


STRINGTABLE 
{
 IDC_PARSE_AUTO, "Parses the DOS autoexec.bat file for setting the environment"
 IDC_WAIT_AUTO, "Wait for execution of the startup file before starting the NT Shell"
 GLOBAL_CONFIG, "Opens global configuration dialog.\nFor Administrators only"
}

STRINGTABLE
{
	IDE_WALLPAPER,		"Sets the background bitmap of the logon screen"
	IDPB_BROWSE_WALL,	"Selects the background bitmap"
	IDC_TILE_WALL,		"Tile to background bitmap over the entire screen"
	IDE_SCREEN_SAVER	"Sets the screen saver during logon"
	IDPB_BROWSE_SAVER	"Selects the screen saver"
	IDE_SAVER_TIMEOUT	"Set the timeout in minutes for the screen saver to start"
}

EXTENSION_DIALOG DIALOG 0, 0, 240, 104
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Extension"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 186, 6, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 186, 26, 50, 14
 CONTROL "Extension:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 9, 36, 8
 CONTROL "", IDE_EXTENSION, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 48, 9, 48, 12
 CONTROL "Shell Create:", -1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 30, 168, 69
 CONTROL "Templatefile", IDR_TEMPLATE, "button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 43, 56, 12
 CONTROL "", IDE_SHELL_NEW, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 12, 60, 152, 12
 CONTROL "Browse...", IDPB_SHELL_NEW, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 78, 50, 14
}


FILETYPE_DIALOG DIALOG 0, 0, 332, 150
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Filetype"
FONT 8, "MS Sans Serif"
{
 CONTROL "Close", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 272, 6, 50, 14
 CONTROL "Icon:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 9, 20, 8
 CONTROL "", -1, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 24, 9, 180, 12
 CONTROL "Browse...", -1, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 212, 9, 50, 14
 CONTROL "Commands:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 43, 40, 8
 CONTROL "", IDL_COMMANDS, "listbox", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 56, 88, 86
 CONTROL "Default", -1, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 56, 50, 14
 CONTROL "Copy...", -1, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 73, 50, 14
 CONTROL "Create...", IDPB_CREATE_COMMAND, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 91, 50, 14
 CONTROL "Edit...", COMMANDLINE_DIALOG, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 108, 50, 14
 CONTROL "Delete", -1, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 125, 50, 14
 CONTROL "", IDL_EXTENSIONS, "listbox", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 204, 56, 64, 86
 CONTROL "Extensions:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 160, 43, 40, 8
 CONTROL "Type:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 26, 20, 8
 CONTROL "", IDE_FILE_IDENTIFIER, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 24, 26, 180, 12
 CONTROL "Edit...", EXTENSION_DIALOG, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 272, 56, 50, 14
 CONTROL "Delete", IDC_BUTTON2, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 272, 73, 50, 14
 CONTROL "Remove", IDC_BUTTON3, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 272, 90, 50, 14
 CONTROL "Add>>", IDC_BUTTON4, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 160, 73, 40, 14
 CONTROL "", IDC_EDIT1, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 160, 56, 40, 12
}


COMMANDLINE_DIALOG DIALOG 0, 0, 393, 127
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Command"
FONT 8, "MS Sans Serif"
{
 CONTROL "Commandline:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 4, 48, 8
 CONTROL "", IDE_COMMANDLINE, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 4, 204, 12
 CONTROL "Browse...", IDPB_BROWSE_COMMAND, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 268, 4, 50, 14
 CONTROL "Identifier:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 22, 36, 8
 CONTROL "", IDE_CMD_IDENTIFIER, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 22, 204, 12
 CONTROL "Menutext:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 39, 36, 8
 CONTROL "", IDC_CMD_MENUTEXT, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 39, 204, 12
 CONTROL "DDE Command:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 56, 56, 8
 CONTROL "", IDE_DDE_COMMAND, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 56, 260, 12
 CONTROL "DDE if running:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 73, 52, 8
 CONTROL "", IDE_DDE_IFEXEC, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 73, 260, 12
 CONTROL "Application:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 90, 40, 8
 CONTROL "", IDE_APPLICATION, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 90, 260, 12
 CONTROL "Topic:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 107, 24, 8
 CONTROL "", IDE_TOPIC, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 60, 107, 260, 12
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 340, 6, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 340, 26, 50, 14
}

DIRECTORY_DIALOG DIALOG 0, 0, 240, 120
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Select Directory"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 17, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 37, 50, 14
 CONTROL "ListBox1", IDC_DIRECTORY_LIST, "listbox", LBS_STANDARD | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 16, 172, 100
 CONTROL "dir", IDC_CUR_DIRECTORY, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 4, 228, 8
}

AUTORUN_DIALOG DIALOG 0, 0, 254, 102
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Autostart Commands"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 4, 50, 14
 CONTROL "Cancel", IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 20, 50, 14
 CONTROL "ListBox1", IDC_DISABLED_LIST, "listbox", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 4, 12, 68, 76
 CONTROL "ListBox2", IDC_ENABLED_LIST, "listbox", LBS_NOTIFY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 128, 12, 68, 76
 CONTROL "Enable >>", IDC_ENABLE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 16, 50, 14
 CONTROL "Disable<<", IDC_DISABLE, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 32, 50, 14
 CONTROL "Enabled Commands:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 128, 4, 68, 9
 CONTROL "Disabled Commands:", -1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 4, 76, 8
 CONTROL "---", IDC_COMMANDLINE, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 4, 88, 248, 8
}

1 VERSIONINFO 
FILEVERSION 1, 1, 1, 0
PRODUCTVERSION 1, 1, 0, 0
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "CRESD GmbH\000"
   VALUE "FileDescription", "Windows NT Configurator\000"
   VALUE "FileVersion", "1.1\000"
   VALUE "InternalName", "Config\000"
   VALUE "LegalCopyright", "© 1998-2003 by CRESD GmbH\000"
   VALUE "OriginalFilename", "config.exe\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1252
 }

}
